/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// Base layer: QWERTY
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// | CTRL/ESC |  A  |  S  |  D   |  F   |  G   |                                      |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | GUI  |  LWR/SPACE  | ESC |  |   RET   |  BSPC  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                    &kp Y &kp U  &kp I &kp O   &kp P    &kp BSLH
	&mt LCTRL ESC &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp LGUI &kp DEL &kp LGUI &lt 1 SPACE &kp ESC       &kp RET  &kp BSPC  &kp TAB &kp BSPC &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
				
		lower_layer {

// Base layer: LOWER
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// | CTRL/ESC |  A  |  S  |  D   |  F   |  G   |                                      |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | P/PS  | DEL  | GUI  |  LWR/SPACE  | ESC |  |   RET   |  BSPC  | TAB  | BSPC  | R-ALT |
		    bindings =  <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                    &kp Y &kp U  &kp I &kp O   &kp P    &kp BSLH
	&kp CTRL ESC &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &kp GUI &kp DEL &kp LGUI &kp SPACE &kp ESC       &kp RET  &kp BSPC  &kp TAB &kp BSPC &kp RALT
			>;
			
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

	};
};
