/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SYMBOLS 1
#define NUM     2
#define NAV     3

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    macros {
        tmux_key: tmux_key {
            label = "tmux_key";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
            = <&macro_press &kp LCTRL>
            , <&macro_tap &kp B >
            , <&macro_release &kp LCTRL>
            ;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// Base layer: QWERTY

			bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮            ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
    &kp TAB       &kp Q        &kp W        &kp E        &kp R        &kp T                     &kp Y        &kp U        &kp I        &kp O        &kp P        &kp NUBS
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤            ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &kp ESC       &am LGUI A   &am LALT S   &am LCTRL D  &am LSHFT F  &kp G                     &kp H        &am RSHFT J  &am RCTRL K  &am RALT L  &am RGUI SEMI &kp SQT
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼            ┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &kp LSHFT     &kp Z        &kp X        &kp C        &kp V        &kp B                     &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp RCTRL
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┼            ┼────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
                                            &tmux_key   &mo NUM     &lt SYMBOLS SPACE          &kp BSPC      &lt NAV RET  &kp DEL
//                                        ╰────────────┴────────────┴────────────╯            ╰────────────┴────────────┴────────────╯
            >;

		};

		symbols_layer {

            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮          ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
	&trans        &kp EXCL     &kp DQT      &kp HASH     &kp DOLLAR   &kp PRCNT               &kp CARET    &kp AMPS     &kp STAR     &kp UNDER    &trans       &trans
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤          ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &trans        &kp GRAVE    &kp TILDE    &kp LBRC     &kp LPAR     &kp LBKT                &kp COLON    &kp AT       &none        &none        &none        &kp SQT
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼          ┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &trans        &kp LT       &kp GT       &kp RBRC     &kp RPAR     &kp RBKT                &kp PIPE     &kp MINUS    &kp EQUAL    &kp PLUS     &none        &trans
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┼          ┼────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
                                            &tmux_key    &trans       &kp SPACE               &kp BSPC      &kp RET     &kp DEL
//                                        ╰────────────┴────────────┴────────────┴          ┴────────────┴────────────┴────────────╯
            >;

		};

		num_layer {

            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮          ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
    &trans        &none        &none        &none        &none        &none                   &kp N0       &kp N7       &kp N8       &kp N9       &none        &none
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤          ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &trans        &none        &none        &none        &none        &none                   &kp N0       &kp N4       &kp N5       &kp N6       &kp SEMI     &none
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼          ┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &trans        &none        &none        &none        &none        &none                   &kp N0       &kp N1       &kp N2       &kp N3       &kp DOT     &trans
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┼          ┼────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
                                            &kp LGUI     &trans       &kp SPACE              &kp BSPC      &kp RET      &kp DEL
//                                        ╰────────────┴────────────┴────────────┴          ┴────────────┴────────────┴────────────╯
            >;

		};

		nav_layer {

            bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮          ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
    &trans        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none               &kp HOME     &kp PG_UP    &kp PG_DN    &kp END      &kp INS      &none
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤          ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &trans        &none        &none        &none        &none        &none                   &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &none        &none
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼          ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &trans        &bt BT_CLR   &none        &none        &none        &none                   &kp PIPE     &kp MINUS    &kp EQUAL    &kp PLUS      &kp FSLH    &trans
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┼           ────────────┼────────────┼────────────┴────────────┴────────────┴────────────╯
                                            &kp LGUI     &tmux_key    &kp LGUI                &kp BSPC      &kp RET     &kp DEL
//                                        ╰────────────┴────────────┴────────────╯          ╰────────────┴────────────┴────────────╯
            >;

		};

	};
};
